[2019-07-29 20:26] jmcdo29 opened #2 "[NEW TEST] TypeORM"
**Feature Test To Be Requested**
Add test cases for TypeORM.

_This is already in the works but is more to help me track what needs to be done._

[2019-07-29 20:27] jmcdo29 opened #3 "[NEW TEST] MongoDB"
**Feature Test To Be Requested**
Add tests for MongoDB.

_This is already a planned effort, just creating an issue to track_

[2019-07-29 20:30] jmcdo29 opened #4 "Create a Wiki"
It might be nice to have a Wiki set up to help people better understand the overall idea of the repository. Anyone is free to help out with this

[2019-08-08 02:56] jmcdo29 commented on #2
Still need to add e2e tests examples. Otherwise ready to close the issue.

[2019-11-15 22:39] jmcdo29 opened #14 "[NEW TEST] WebSockets"
**Feature Test To Be Requested**

A test repository showing how to test web sockets could be really useful for some people. Full End to End testing too if possible

[2019-11-15 22:40] jmcdo29 opened #15 "[NEW TEST] Microservices"
**Feature Test To Be Requested**

Showing how to test microservice could be useful, especially in an e2e context

[2019-11-15 22:42] jmcdo29 opened #16 "[NEW TEST] Asyncronous and Observables"
**Feature Test To Be Requested**
A little less related to NestJS overall, but still useful would be examples of testing `async/await` and `RxJS Observbales` code with `jest`. Especially with creating re-usable observers for Observables to make tests easily configurable and less duplicated.

[2019-11-15 22:44] jmcdo29 opened #17 "Update CONTRIBUTING and README"
After moving to a Nest monorepo structure, there are some problems in the [Contributing](https://github.com/jmcdo29/testing-nestjs/blob/master/Contributing.md) and [README](https://github.com/jmcdo29/testing-nestjs/blob/master/README.md) files. Just need a quick update so others aren't confused.

[2019-11-18 06:43] jmcdo29 commented on #3
Unit test suite has been added. Need to create e2e test suite to compliment/

[2019-11-18 07:30] jmcdo29 commented on #17
Updated with #19 will visit in the future if needed :)

[2019-11-18 07:30] #17 closed

[2019-11-29 07:18] #16 closed

[2019-12-01 20:51] raftheunis87 opened #74 "Create an E2E test for a controller method with an @Render annotation"
I have my application setup to render pug templates. When writing an E2E test for a controller method that has a @Render annotation, we need to setup the view engine. Otherwise, you get this exception:

[code]

Maybe you can setup something like that in your testing suite?

Thanks!

[2019-12-02 07:07] #74 closed

[2019-12-02 07:09] jmcdo29 commented on #2
Closing with #3 to create a new issue for E2E tests for all samples

[2019-12-02 07:09] #2 closed

[2019-12-02 07:09] #3 closed

[2020-01-15 04:22] jmcdo29 opened #216 "[NEW TEST] CQRS"
**Feature Test To Be Requested**
Examples on how to test the CQRS framework with NestJS

[2020-02-26 07:12] jeffminsungkim opened #344 "[FAILING TEST] Dangerous example code"
**Describe the bug**
I'd like to point out that there an insecure code from cat.service.spect.ts file in `typeorm-sample` project. (Perhaps, there might be more..)

**To Reproduce**
Steps to reproduce the behavior:

[code]
It throws the following error below, but the test **still pass**.
`(node:40862) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by th

[2020-02-26 07:42] jmcdo29 commented on #344
Yeah! Go for it! Shouldn't be too hard of a PR to manage :smiley: I know we've talked about this before, would be great if this was fixed for better examples

[2020-02-28 00:42] jmcdo29 commented on #344
Fixed by #345

[2020-02-28 00:42] #344 closed

[2020-02-28 16:07] jmcdo29 opened #349 "[NEW TEST] GraphQL E2E"
A simple test set to show off e2e testing with GraphQL. This can be an update to the `typeorm-graphql-sample` or a new `graphql-sample`, but it needs to show e2e.

[2020-03-01 23:45] #349 closed

[2020-03-02 00:49] jmcdo29 opened #354 "[NEW TEST] Automated E2E Testing"
Use Dockerfiles and `docker-compose` to allow for E2E tests to be run via GitHub Actions. This will allow for even better tracking of changes to the NestJS Ecosystem and will help others know the E2E tests are working properly

[2020-03-08 23:16] ShGKme commented on #14
Tere is an issue with e2e testing.
```Jest did not exit one second after the test run has completed.```

To be honest, I can't understand, why this:
https://github.com/jmcdo29/testing-nestjs/blob/master/apps/websocket-sample/test/app.e2e-spec.ts#L23
will connect exacly to the testing app http server... How it works.

And what about adding about more "websocket" test. In this test event just return

[2020-03-09 00:55] jmcdo29 commented on #14
@ShGKme I'll be 100% honest, I'm not completely sure how it works myself. I believe it has something to do with `socket.io` scanning already made connections via `socket.io`, and creating a client for it. If you have an idea for better tests I'd be happy to accept a PR for them. Websockets are still a bit out of my realm of knowledge so I went with a simple test for now. I'll re-open the issue for

[2020-03-09 11:25] ShGKme commented on #14
@jmcdo29 `io.connect();` doesn't really work.
It's very funny. Let's look to the test:

[code]

The test will finish earler, than we will receive anything and won't check for any errors.
At the end, we have passed test with a Jest warning:

More fun? This will pass :D
[code]

I will make my example soon today.

[2020-03-09 12:46] ShGKme commented on #14
@jmcdo29 Check out this repository:
https://github.com/ShGKme/nestjs-ws-e2e

Or this repl (run it in browser):
https://repl.it/github/ShGKme/nestjs-ws-e2e

[2020-03-10 19:18] ShGKme opened #380 "TypeORM and e2e testing"
I think, full e2e testing with database is an interesting problem. But in TypeORM Sample there is no `cats.e2e-test`.

If we don't mock the DB and make e2e tests mostly near to real environment, there are some interesting things:
- DB creation (sync, migrations, seeds, dumps)
- Running in parallel (databeses must be separated. More intersting if we use not sqlite with in-memory)

It seems to me, t

[2020-03-10 19:40] jmcdo29 commented on #380
That's actually part of the reason #354 is open, I'm wanting to get all of the e2e tests running through Docker so each environment is separated and they can be run in CI/CD like the unit tests already are. It is a lot of overhead to work with though, and as it is a monorepo, it adds another level of complexity. It's something I've been trying to work on for a while when I have the time. If you ha

[2020-03-28 13:41] BoKKeR opened #418 "[FAILING TEST] The try catch tests are passing even with not getting to the evaluation"
**Describe the bug**
https://github.com/jmcdo29/testing-nestjs/blob/dfb0c657271b152d27fe4977e946bbaf7527b7d5/apps/complex-sample/src/cat/cat.service.spec.ts#L43-L50
**To Reproduce**
just remove the line in the try block
**Expected behavior**
Without anything in the try block this test should fail because it expects an error to be thrown. But it passes because it never gets to the catch part
**Desk

[2020-03-28 16:59] jmcdo29 commented on #418
Hmm, I see what you mean by the test will pass even though there are `expect` function in the `catch` block. Maybe some sort of assertion should be made after the service method call, save the result to a value and assert that value? I'm not sure we'd want to throw another error, as that would be caught by the catch block, though that could force the test to fail too. Maybe the test should be chan

[2020-03-30 06:19] jmcdo29 commented on #418
#421 will fix this. Thanks for bringing it up!

[2020-03-30 06:19] #418 closed

[2020-03-30 12:23] jeoy opened #423 "[NEW TEST]some test cases for axios request?"
**Feature Test To Be Requested**
A clear and concise description of what feature you want to be shown tests for (e.g. Authentication):
Hi Jay,

Could you add some test cases for axios request?

I am not sure if I should use mock axios or real axios request  in this case when test in e2e

Thanks

[2020-03-30 12:25] jeoy commented on #423
Or can you give some advice do we need mock axios request for e2e test?

[2020-03-30 14:45] jmcdo29 commented on #423
By "Axios" are you meaning the npm package, or the built in `HttpService` that is a wrapper around axios?

[2020-03-31 02:14] jeoy commented on #423
what's the difference between this two ?
Consider that our service depend on other http service where we use axios (or fetch)  to get data from

[2020-03-31 02:49] jmcdo29 commented on #423
The built in `HttpService` is a wrapper around axios and uses Observables, whereas axios the npm package is a direct http client that uses promises or callbacks, so the testing of the two is different.

How do your see this test going, are you using a package directly or a service as a wrapper? In my opinion one is easier to work with than the other when it comes to writing tests.

[2020-03-31 06:08] jeoy commented on #423
Well, i am using a npm package directly.
[code]

[2020-03-31 15:51] jmcdo29 commented on #423
If this isn't about mocking a `provider` in Nest, I would say that it falls out of the scope of what this repository is for. There are several tutorials and articles out there showing how you can use `jest.mock()` and `jest.spyOn()` along with other methods to mock npm packages in unit or e2e scopes, as Jest doesn't consider them different at all.

[2020-04-01 05:54] jeoy commented on #423
ok cool

[2020-04-01 05:54] #423 closed

[2020-04-20 03:59] malcolm-kee commented on #15
@jmcdo29 I'm stuck at this in my project. Do you have any pointer on how to trigger EventPattern handler in controller without manually calling it? (I wish to simulate the scenario that will cause NestJS calling it instead of calling manually the method myself)

Would be happy to contribute the example once I figure that out!

[2020-04-20 04:26] jmcdo29 commented on #15
@malcolm-kee so, I kinda did something recently with a library I'm working on where I created a super simple client application and ran both the client and the server in the same test context. Then, I would call the client via HTTP and let the client call the microservice, test the functionality, return the value, and finish the request. If everything came through properly, it was a success.

That

[2020-04-20 04:32] malcolm-kee commented on #15
Do you mean you can start two nest module in a single test and allows them to interact with each other?

[2020-04-20 04:35] jmcdo29 commented on #15
That's exactly what I mean. You [can see the test here](https://github.com/jmcdo29/ogma/blob/master/integration/test/rpc.spec.ts), the [client here](https://github.com/jmcdo29/ogma/tree/master/integration/src/rpc/client), and the [server here](https://github.com/jmcdo29/ogma/tree/master/integration/src/rpc/server)

[2020-04-20 04:37] malcolm-kee commented on #15
Never thought of that. That's so cool! I'll give it a try!

[2020-04-20 16:21] malcolm-kee commented on #15
Able to make it work. Thanks @jmcdo29 . I'll make a PR by this week.

[2020-04-21 01:35] malcolm-kee commented on #354
@jmcdo29  Are we looking at including test coverage for the setup, or we're just looking at able to run the e2e test as starter?

[2020-04-21 01:37] jmcdo29 commented on #354
As a start, just ensuring they run properly. Coverage can be updated later

[2020-04-21 01:51] malcolm-kee commented on #354
I'll try to setup for my project and contribute once I figure it out.

[2020-04-21 16:40] #15 closed

[2020-04-21 16:58] jmcdo29 commented on #380
Going to close this as #354 is still open and there hasn't been any more conversation here

[2020-04-21 16:58] #380 closed

[2020-04-21 17:54] malcolm-kee commented on #354
Manage to get something working for my project here: https://github.com/malcolm-kee/dine-in/blob/master/.github/workflows/e2e-test.yaml

@jmcdo29 do you have any suggestion for the examples of the container-ized tests? Should we create separate example or we use existing sample by adding more configuration/code?

[2020-04-21 18:00] jmcdo29 commented on #354
@malcolm-kee I kind of like using the existing samples, but if it is easier to create a separate sample, then let's go with that if it will still be extensible.

[2020-04-22 05:21] malcolm-kee commented on #354
Thinking out loud on the E2E Testing example. @jmcdo29  If you have any idea to simplify it, that would be great!

## 2 Apps Will Be Created

- `e2e-example-redis-publisher` have a single REST endpoint, which when called will publish an event to redis
- `e2e-example-redis-subscriber` will listen to the event from redis and save the data in mongoDB. It also expose a single REST endpoint which can b

[2020-04-23 18:25] #354 closed

[2020-05-25 17:30] #14 closed

[2020-05-25 20:52] #216 closed

[2020-09-08 09:59] achyutjhunjhunwala opened #857 "[NEW TEST] Custom Decorator Testing"
**Unit Tests for Custom Decorators**

I created a custom decorator which can be added to Service methods for Caching Data.
But unfortunately cannot find any simple documentation which can provide a way we can test Custom Decorators.
It would be great if you can add something around it.

[2020-09-08 15:31] jmcdo29 commented on #857
It sounds like this is not a decorator created with Nest's `createParamDecorator`, for controllers, resolvers, and gateways, but a general typescript decorator, is that correct?

[2020-09-09 07:23] achyutjhunjhunwala commented on #857
Yes, it is a custom Decorator that consumes Redis for caching data, it creates a key based on the method name and passed arguments to the function.

[2020-10-13 10:27] SSmale commented on #423
sorry to jump on this question but I am having an issue testing a service that uses the `HTTPService` so wondered if there was an example of the spec file?

[2020-11-16 17:12] warreee opened #978 "Question about your remark on mongo-testing."
Hi Jay
In your comments above [this](https://github.com/jmcdo29/testing-nestjs/blob/master/apps/mongo-sample/src/cat/cat.service.ts#L48) line you argue not using `save` method because it is hard to mock.
I came across this because I was indeed trying to mock it and I don't get it to work.
Can you elaborate on why you can't just do:
jest.spyOn(model, 'save').mockResolvedValueOnce({...});
But the fo

[2020-11-17 07:23] jmcdo29 commented on #978
@warreee I never said anything about `save` as a method. I suggested not using `new this.model()` because _that's_ what becomes difficult to mock. When you create a new instance of the thing you're mocking, it gets messy. It's the difference of using an [Active Record](https://en.wikipedia.org/wiki/Active_record_pattern) approach (where each instance of a model or entity has its own Data Manipulat

[2020-11-17 10:11] nfedyashev opened #979 "gitads link doesn't work"
I'm new to this repo so I started by reading the README.

Not sure yet what's a proper fix to this by reading this paragraph:

is a bit confusing because there isn't any clickable links or embedded images being shown. After some investigation I noticed the gitads link:

[code]
Not sure what was there before but it doesn't seem to work at the moment:

[2020-11-17 12:55] jmcdo29 commented on #979
Ah, yep. Been meaning to remove that. GitAds stopped functioning a little while back. Thanks for reporting this and reminding me :smile:

[2020-11-17 13:03] #979 closed

[2020-11-18 17:49] warreee commented on #978
Alright, thanks for the clarification.
However, do you have an idea of why I can't do:
`jest.spyOn(model, 'save').mockResolvedValueOnce({...});`
But I can do:
`jest.spyOn(model, 'create').mockResolvedValueOnce({...});`

The `save` method seems not to be able to be spied on, however as in your example tests for `create`, `update`, `findOne` ... this works perfectly fine?
I tried this also in your m

[2020-11-18 17:57] jmcdo29 commented on #978
Yes, because when you do `new this.model()` (which creates the `Document` instance that has the `save` method), you no longer are working with `this.model`, but the returned object of that. If you look at the types, `Model` has no method called `save`.

[2020-11-18 20:26] warreee commented on #978
I see thanks!

[2020-11-18 20:26] #978 closed

[2020-12-02 10:16] acfasj opened #1034 "[TypeORM sample unit test question]"
**Feature Test To Be Requested**
Sorry for open a qustion issue.
I read the code about `apps/typeorm-sample/src/cat/cat.service.spec.ts`
and I realize that the test case is repeatting the steps as we develop, it means we need to know very detail about the implementation.
I serach a lot about Nestjs testing with TypeORM, and find [an issue comment](https://github.com/typeorm/typeorm/issues/1267#iss

[2020-12-03 08:17] MoneyIgos opened #1037 "[e2e tests for mongo-sample]"
**Just a e2e tests using mongo**
A clear and concise description of what feature you want to be shown tests for (e.g. Authentication):
I tried to create e2e tests by when i started it it's connected to db and adding this data from tests to my db. Should i use mockingoose?

[2020-12-03 16:26] jmcdo29 commented on #1037
An e2e test usually should be using a database, that way you are testing the entire flow, from the request coming in, to the data being saved, to the data being retrieved. Usually it's also preferable to use a different database for testing that your dev or production database to ensure you don't have any collisions or pollution of your database. I can try to add an e2e sample for mongo though

[2020-12-03 16:32] jmcdo29 commented on #1034
I think I see what you're getting at, and I get your point: "A unit test should be simple and dumb with assertions about input and output".

To an extent, [that's what's going on here](https://github.com/jmcdo29/testing-nestjs/blob/master/apps/typeorm-sample/src/cat/cat.service.spec.ts#L60): we give an input (`'a uuid'`) to the service and assert the output (`oneCat`). I do __extra__ assertions on

[2020-12-07 13:17] acfasj commented on #1034
@jmcdo29 Thanks your reply. Yes, you got me, it is the spies "bite" me, espicially the `repo.method.toBeCalledTimes()`. And in a more complex situation, TypeORM's `createQueryBuilder` is more powerful, but at the same time the spies is harder to test.

Since I am a frontend developer, and didn't have much knowledge on backend and database. When I use React, React have a special test renderer and c

[2020-12-07 13:20] acfasj commented on #1034
Since it‘s a question and a discussion issue, so I close it, but you are welcome to reply me if you have some ideas

[2020-12-07 13:20] #1034 closed

[2020-12-16 11:36] AndonMitev opened #1079 "[FAILING TEST] Issue to setup test module"
Hello I'm very new to testing and I asked in stackoverflow already but didn't receive any answer yet :( (https://stackoverflow.com/questions/65321562/unit-tests-in-nestjs?noredirect=1#comment115481831_65321562)

Basically I have following setup for test:

[code]
And throws following error:  **Cannot find module 'src/config/app.config' from 'modules/blockchain/blockchain.service.ts'**
This is how A

[2020-12-16 16:00] jmcdo29 commented on #1079
As the question that this was marked as duplicate of explains, `src` as the initial import is probably not being seen properly by `ts-jest`. You can do one of two things:

1) don't use `src` as the base import (usually not the best thing to do anyways, in my opinion)
2) tell `ts-jest` how to map `src/*` imports and what path it should resolve. Either of those should do it for you.

Also, if this i

[2020-12-16 16:00] #1079 closed

[2020-12-29 09:55] steinroe opened #1105 "[NEW TEST] Custom Auth Guard Tests"
Hi,

thanks for this repo - it helps a lot in figuring out how to test!

I am currently trying to write a test for an UserAuthGuard which extends the default AuthGuard and uses a custom strategy (Firebase Auth).

It basically just calls `super.canActivate()` to trigger the Firebase Auth and then checks if some decorators are set. My main concern is the `super.canActivate()` --> How can I mock that

[2021-01-02 22:49] katesroad opened #1120 "About import {DocumentQuery} from 'mongoose' at mongo-sample"
**Describe the bug**
  DocumentQuery is not exported from the mongoose module

**To Reproduce**
- install project dependencies
- install mongoose with version ^5.11.9
- npm run test: watch

**Expected behavior**
The `users.service.spec.ts`  should work for mongo-sample

**Additional context**

Please check  the 17th line of source code: https://github.com/jmcdo29/testing-nestjs/blob/master/apps/mo

[2021-01-03 02:04] katesroad commented on #4
I want to join in. I'm learning to test Nest.js with a complicated example.

[2021-01-03 02:13] jmcdo29 commented on #4
Feel free to submit a draft PR. I've never made a wiki, but I thought it could be a decent place to explain some ideas of testing and go into a bit more depth when it comes to the strategies used by this repo

[2021-01-18 01:52] #1120 closed

[2021-02-06 15:07] omer-morad-ni commented on #1037
Hey guys

@jmcdo29 well done with the repo!
Actually, when I looked at the tests I was looking exactly for what you have described here.

Thought about adding this e2e test, from the controller to an in-memory DB, what do you think?

[2021-02-06 15:08] omermorad commented on #1037
Hey guys :)

@jmcdo29 well done with the repo!
Actually, when I looked at the tests I was looking exactly for what you have described here.

Thought about adding this e2e test, from the controller to an in-memory DB, what do you think?

[2021-02-06 15:55] jmcdo29 commented on #1037
@omermorad thanks for looking to continue! You can either use an in memory database, or you can add the mongo image to the docker-compose. Either way I look forward to the contribution

[2021-02-06 15:56] omermorad commented on #1037
Great, I will work on something and send you a PR

[2021-02-06 16:25] omermorad commented on #1037
Should I modify this test? Or work on a new one?

https://github.com/jmcdo29/testing-nestjs/blob/dff1168a019bd30458b1d8bae58bf8985a267095/apps/mongo-sample/test/app.e2e-spec.ts

[2021-02-06 16:52] jmcdo29 commented on #1037
Add a new `cats.e2e-spec.ts`. I'm pretty sure that's what the TypeORM sample does

[2021-02-13 20:03] omermorad opened #1222 "Suggestion: convert testing-nestjs into monorepo with Lerna"
@jmcdo29 I thought about it, what do you think about changing this repo to work with Lerna where every sample will be a package? 😃

Then we can manage a `CHANGELOG.md` file and use some Semver methodological as well

[2021-02-13 20:16] jmcdo29 commented on #1222
The original idea behind the nest monorepo was to give the monorepo method a shot. Overall, I'd prefer a pnpm workspace over lerna (I like pnpm over the other packages managers), but if you want to try your hand at converting it, go for it :smile:

[2021-02-13 20:26] omermorad commented on #1222
I see. Actually, I've never used `pnpm` before.
So do you want to give `lerna` a shot with the classic `npm`?

Take into account it's going to be a big change :)
So after converting it we will need to merge it quickly in order to avoid merge hell

[2021-02-13 20:37] jmcdo29 commented on #1222
`pnpm workspaces` are incredibly similar to `lerna` to be honest. I'll work on making the change though. It also supports the `workspace:` protocol, like `yarn` does, so they should be closely compatible. I haven't checked in `npm` supports that yet or not

[2021-02-19 03:55] felinto-dev opened #1233 "[Question] How I mock another service method?"
I have a service that needs another service to work. I would like to mock him because that is the idea of unit tests.

Is there a file in this repository that can help me?

[2021-02-19 04:30] jmcdo29 commented on #1233
Yep, the [RxJS-Sample/app.service](https://github.com/jmcdo29/testing-nestjs/blob/master/apps/rxjs-sample/src/app.service.spec.ts) has a service injecting a service and a mock for it.

[2021-02-19 04:36] jmcdo29 commented on #1233
Also, technically, anytime you're doing `@InjectRepository()` or `@InjectModel()`, you're injecting a service. This just happens to be a very specific service.

[2021-02-19 05:57] felinto-dev commented on #1233
Hi!

Thanks for answering.
Your answer answers my question but I was not referring to that.
I'm sorry for not being clear.

https://github.com/jmcdo29/testing-nestjs/blob/c526e7b4b8c30ac8004659fbc69e21ccdd1b5f4d/apps/mongo-sample/src/cat/cat.service.ts#L60

See for example this service to "update a cat". Instead of searching the repository directly if this cat exists and updating it, I could use a

[2021-02-19 06:09] jmcdo29 commented on #1233
I'm gonna disagree with you here. Mainly for the fact that I know _where_ I'm looking for it and _what_ in looking by. We know it's the cat table, and we know the ID we're searching for. Sure we could get pedantic and say that maybe that ID exists, maybe it doesn't, but honestly that feels like arguing nest to argue.

They have specific meaning in english too, but interpretation is subjective. In

[2021-02-19 06:45] felinto-dev commented on #1233
"lower dependencies", would it be, for example, the database repository?

That is my main question. In the example, I gave that the "updateCat" method depends on the "getOne" service, even if there is test coverage for the "getOne" method, a bug in this method would influence the "updateCat".

In these cases, could this not be a problem for unit tests that should only test a portion of code and mo

[2021-02-19 06:50] jmcdo29 commented on #1233
Yes , exactly (wasn't sure what else to call them). The `updateOne` may depend on the `findOne`, but the `findOne` depends on the `this.model.findOne` so the dependency on `this.model` is what would need to be mocked.

Yep, and that would be a drawback of having these methods depend on each other without good integration tests of the methods

It definitely could be a problem. Which is why there's

[2021-02-19 06:52] felinto-dev commented on #1233
You're awesome.

Could you close this issue?
Thank you.

[2021-02-19 06:53] #1233 closed

[2021-02-19 06:53] jmcdo29 commented on #1233
Thanks for the great discussion 😄 Hopefully it was helpful and will help others

[2021-03-04 14:48] felinto-dev opened #1268 "Suggestion: create tests for Prisma (alternative to TypeORM)"
What do you think of creating a project with good testing practices using the ORM Prisma? It would be greatly appreciated.

[2021-03-04 14:49] felinto-dev commented on #1268
PS: I don't have any idea how I put the "bug" label. Could you remove it? Thanks.

[2021-03-04 15:36] jmcdo29 commented on #1268
I could definitely see some use for it. Would you like to try your hand at a PR for this, following the examples for TypeORM, Mongoose, and Sequelize?

[2021-03-04 15:46] felinto-dev commented on #1268
I love to contribute to open-source projects, but the reason I'm suggesting this is partly because I don't have a clue how to do it.

[2021-03-04 15:47] jmcdo29 commented on #1268
Fair enough! I'll try to get to this when I have some time then. I've got some other improvements I'd like to make too

[2021-03-28 19:39] jrista opened #1298 "[FAILING TEST] Unit testing a NestJS Service that consumes a TypeORM Repository"
**Describe the bug**

I am trying to unit test some services we have in a project that uses TypeORM. We wrap the repositories in services so we can abstract the repo away from the rest of the code and just rely on the services (which are easy to mock).

We couldn't quite get any of our own mocks to work at first, then eventually came across the @golevelup/nestjs-testing module. We've fiddled with

[2021-03-28 19:42] jmcdo29 commented on #1298
What's the reason for `module.createNestApplication` in this unit test?

[2021-03-29 05:11] jrista commented on #1298
It was paving the way for future tests, which ended up getting broken out into an integration spec file.

I think the @golevelup/nestjs-testing module is just broken. It is at v0.1.2, and I just couldn't get it working. I finally resorted to creating very basic jest.fn() based mocks, which I then mockedResolvedValues for on a test-by-test case basis, and that seemed to work.

[2021-03-29 05:13] jmcdo29 commented on #1298
Gotcha. What if you use `@golevelup/ts-jest` (same package but new name and updates). If it still has problems could you provide a reproduction so I can take a deeper look?

[2021-03-30 18:14] jrista commented on #1298
Sure, I'll give it a whirl today.

[2021-04-15 07:34] jrista commented on #1298
So, in the long run, we decided we didn't necessarily need the @golevelup stuff. At least, not the testing stuff (we use other packages from them). The testing stuff just doesn't seem to be ready, and isn't even listed in their repos, so we decided to just mock things manually (which turned out to be easier than it seemed at first.)

[2021-04-16 17:54] jmcdo29 commented on #1298
The testing package is under the [`nestjs`](https://github.com/golevelup/nestjs) repository. Either way, glad you got something that worked for you. Closing the issue out.

[2021-04-16 17:54] #1298 closed

[2021-06-03 12:34] QimatLuo commented on #1268
I need prisma example too.
I'm not really understand how to write test with prisma in nestjs even though prisma official website have example without nestjs.

[2021-06-03 21:33] tak1n commented on #1268
@QimatLuo there are a few discussion threads open on prisma side on how todo testing:

- https://github.com/prisma/prisma/discussions/2083
- https://github.com/prisma/prisma/discussions/7088

For e2e tests we use a similar approach like in Rails (I'm coming from a ruby/rails background). We basically have a test database (`dbname-test`) in which we apply the schema through `prisma migrate dev`, af

[2021-06-03 21:38] jmcdo29 commented on #1268
Thanks for all the info on this. I plan on getting back to maintenance on this repo as of next week once I get back from vacation.

[2021-06-28 06:51] #1268 closed

[2021-07-21 20:29] micalevisk commented on #1105
What about `jest.spyOn(AuthGuard.prototype, 'canActivate').mockImplementation()` (https://stackoverflow.com/a/63762678/5290447) I didn't tested it.

[2021-07-26 07:51] steinroe commented on #1105
Sorry, I forgot about this issue. You're correct, the following worked out for me.

[code]

[2021-07-26 07:51] #1105 closed

[2021-12-10 18:18] joebowbeer commented on #857
I was looking for a sample of a unit test of a param decorator, and suggest you include one here for completeness.

AFAICT, the best way to test a param decorator is to test the factory (CustomParamFactory), that is passed to createParamDecorator, in isolation. To test the ParameterDecorator itself would require a lot of scaffolding.

https://github.com/nestjs/nest/issues/1020#issuecomment-4176463

[2021-12-10 18:36] jmcdo29 commented on #857
Honestly, I would worry about testing a custom decorator via integration and e2e tests that use actual HTTP requests. If you do want to have an easy way to test the factory inside the decorator you'd need to do something like

[code]
And now you can just call `myParamFactory` directly in a test while mocking the `ExecutionContext`. I'll see about adding a sample for this, or feel free to create on

[2021-12-12 03:06] joebowbeer commented on #857
@jmcdo29 yes, I agree, but people like myself will still arrive here looking for a decorator unit test. Hopefully they will find this issue and your comment.

[2021-12-12 09:04] joebowbeer opened #1503 "[NEW TEST] Testing for interceptor failure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Test To Be Requested

I was using the CatInterceptor as a template for a request interceptor.

It was not clear how to test for an expected failure condition. Below is sketch of the test I created:

[code]

I also discovered that failures in the Observable subscriber would result in test timeouts. That

[2021-12-17 16:17] sctouch opened #1508 "[NEW TEST] KnexJs Sample test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Test To Be Requested

It would be great if we have another branch new test of KnexJs

[2021-12-21 14:04] Tony133 commented on #1508
PR open [here](https://github.com/jmcdo29/testing-nestjs/pull/1441)

[2021-12-28 22:16] micalevisk commented on #1503
regaring testing interceptors, given a `TimeoutInterceptor` that looks like this:

[code]

I've made a unit test for it, `timeout.interceptor.spec.ts`:

[code]

[2022-01-01 02:25] #1222 closed

[2022-01-08 20:47] jmcdo29 commented on #1503
By the way @micalevisk if you want to put this into a sample app and add a PR that would be awesome! If not, I'm sure I'll get around to it eventually :)

[2022-01-11 00:50] micalevisk commented on #1503
@jmcdo29 I was thinking on adding a very basic sample that uses that `TimeoutInterceptor` just to demonstrate how we can write an unit test for the `timeout` operator of rxjs. But I don't think this will be that useful as it doesn't do anything fancy for the nestjs side, it just uses the API of `rxjs-marbles` lib to play with `rxjs`.

[2022-02-24 15:25] RafaelEufrazio opened #1617 "Multiple mocked dependencies with the same content"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm trying to manually mock 2 dependencies to unit test a specific service, but while one is correctly mocked, jest seems to be attributing the same content to the other dependency. The beginning of the test code is as follows:

[code]

I've ommited the tests as the file is too long.

Down he

[2022-02-24 16:12] jmcdo29 commented on #1617
I'm not sure what this has to do with this repo (other than it generally being test related) but if you can get me a [minimum reproduction](https://minimum-reproduciton.wtf) I can take a look

[2022-02-24 18:16] RafaelEufrazio commented on #1617
What would a minimum reproduction be?

I'm sorry, just saw that I posted the right problem on the wrong place, should have been on the jest repo.
Anyways, if you could help me with this I'd appreciate it.

[2022-02-24 18:18] jmcdo29 commented on #1617
Edited the link in my first message. It would explain what a minimum reproduction is

[2022-02-24 18:21] RafaelEufrazio commented on #1617
Oh I see, I'll try to create a small nestjs project reproducing the problem.

[2022-02-24 19:03] RafaelEufrazio commented on #1617
I just solved the problem. The issue was that the nestjs dependencies were outdated, I updated the main ones from 7.4.2 to 8.3.1 and the problem went away.

Thanks for your attention anyway. I'm closing this issue.

[2022-02-24 19:03] #1617 closed

[2022-04-11 15:46] robertsLando opened #1654 "[NEW TEST] Bull"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Test To Be Requested

Add some examples using nestjs bull queue

[2022-04-11 15:49] jmcdo29 commented on #1654
What would you like this bull test to show? Unit testing for a queue? E2E tests using a queue? Both?

[2022-04-11 16:11] robertsLando commented on #1654
@jmcdo29 Thanks! ATM the only resource I found about bull testing is https://stackoverflow.com/questions/68214492/how-can-a-nest-bull-queue-be-tested-via-jest-di-via-injectqueue

But It's not working for me, queue is always undefined inside the service when using

[code]

[2022-04-15 19:54] doriandevtech opened #1659 "[TRANSACTIONS AND TRANSACTIONS ROLLBACK NOW AVAILABLE]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Test To Be Requested

Use the Transactions and Rollback Transactions from Prisma to complete the test code @ this path: apps/prisma-sample/test/cats.e2e-spec.ts

[2022-04-19 08:27] JeongJuhyeon commented on #1659
To use this in a test there needs to be a way to get the reference to a transaction outside of a callback. This still does not exist in Prisma. https://github.com/prisma/prisma/issues/12458

[2022-04-20 09:21] doriandevtech commented on #1659
Ok alright I learned something thank you!

[2022-04-27 14:03] YOU54F opened #1676 "[NEW TEST] - (Contract Testing) - Incorporate NestJS Consumer Driven Contract testing with nestjs-pact"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Test To Be Requested

Hey,

Great repo <3

The member of the Pact OSS community recently developed with a NestJS Pact adapter to allow for easy consumer driven contract testing with Pact in a NestJS project.

You can see the repo here https://github.com/omermorad/nestjs-pact

and find our how Pact and

[2022-04-27 14:15] jmcdo29 commented on #1676
I'd love to see an example and PR to the repo for this! I recently started using [`pactum`](https://pactumjs.github.io) instead of supertest for my personal tests and have absolutely loved it. I'd be excited to see what an example for Pact looks like.

[2022-04-27 14:44] YOU54F commented on #1676
Hey @jmcdo29

Awesome! Yeah I have seen `pactum`, and love what they are doing, great to see the open Pact specification being used by other parties <3

Couple of links to our nestjs examples from our `pact-js` implementation

- https://github.com/pact-foundation/pact-js/tree/master/examples/nestjs-consumer
- https://github.com/pact-foundation/pact-js/tree/master/examples/nestjs-provider

Will loo

[2022-04-27 15:39] jmcdo29 commented on #1676
I'm sorry @omermorad, where do you add it?

[2022-04-28 13:31] omermorad commented on #1676
@jmcdo29 sorry, I thought we are talking about [awesome-nestjs ](https://github.com/nestjs/awesome-nestjs) repo, and I meant that nestjs-pact is under the list of test utils there

[2022-04-28 13:51] YOU54F commented on #1676
nice, I hadn't seen that list. Added a badge 😎  https://github.com/nestjs/awesome-nestjs/pull/214

[2022-04-30 02:26] 4ndh4k opened #1682 "README refers to non-existing cat.integration.spec.ts"
As I was looking for some integration test inspiration I found this promising repo and even a reference to cat.integration.spec.ts in the  [README](https://github.com/jmcdo29/testing-nestjs/blob/main/apps/typeorm-sample/README.md). Unfortunately it seems the actual file has been removed in fa73e575a1451ae0419cfc027404a685372e9d6d.  😢

Unless that was a mistake I suppose it should be fixed in the R

[2022-04-30 03:19] jmcdo29 commented on #1682
Ah this was an issue of rehabbing the test from integration to e2e as that was the more appropriate term

[2022-05-01 02:47] jmcdo29 commented on #1682
Ah, actually, no I see what happened. I removed it because it was being ran with the unit tests and it required the running of a database server. It _should_ have been moved to its own directory with its own test command and jest config, like the e2e tests, I just didn't set that up at the time.

<details>

<summary>For reference, here was the file</summary>

[code]

</details>

[2022-05-01 05:20] 4ndh4k commented on #1682
Ah, ok thanks! Yeah, that makes sense.

Regarding naming things, in our project we try to distinguish between integration tests and e2e test in such a way that the integration is testing e.g a service in its smallest possible environment, just like the cat.integration.spec.ts, where as e2e attempt to test the whole app from its public APIs and  from the perspective of a user journey..

But I see i

[2022-08-22 15:35] pedrohba1 opened #1779 "Test against Solidity smart contracts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Test To Be Requested

I would like an example to test against smart contracts.
On my application, I have a smart contract that needs to be called to check some data in the contract. I need this data to reach my back-end application somehow.

Thing is, I could test the contract against a testnet, but it

[2022-11-24 08:09] rubiin opened #1877 "[NEW TEST] Tests for mikro-orm"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Test To Be Requested

Hey,

This is a great repo and my goto whenever I am writing tests.
Since the repo has examples for most orms, I think it would be good to include an example illustrating one with mikro-orm

I would be happy to work on the examples.